.guess_this_number, .userTotal{
	color:#333;
	font-size: 55px;
}



.btn-supreme {
	color: #fff;
    background-color:pink;
    border-width: 0px;
    border-style: none;
    margin: 15px;
}
x
.row {
	margin: 20px 0;
}

body{
	font-family: 'Gaegu', cursive;
}

.jumbotron{
	margin-bottom:0px;
 	background-image: url("http://www.creativeuncut.com/gallery-05/art/os-forest-of-elrit.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
}
